header{
    padding: 50px 50px;
    font-size: 40px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(174, 124, 255);
}
.index, .help, .form, .catal, .wishlist{
    margin-right: 5px;
}
.search{
    padding: 10px;
}
.icon{
    height: 50px;
    width: 50px;
}
.add{
    justify-content: flex-end;
}
.cartt{
    height: 45px;
    width: 45px;
}
.cartt{
    height: 50px;
    width: 50px;
}
.connect{
    padding-top: 50px;
    padding-left: 10px;
}
section{
    margin: 3%;
    background-color: bisque;
}
.a{
    padding: 15px;
    font-size: 45px;
}
.aa{
    padding:15px;
    font-size: 30px;
}
.b{
    display: flex;
    justify-content: space-between;
}
.k{
    padding: 15px;
    font-size: 35px;
    text-align: center;
}
.kk{
    padding: 100px;
    font-size: 30px;
    text-align: center;
}
footer{
    background-color: rgb(174, 124, 255);
    display: flex;
    font-size: 25px;
    justify-content: space-between;
}
.foot{
    display: inline-flex;
    padding: 15px;
}
.img{
    align-self: self-end;
}
.cont{
    list-style-type: none;
}
.contact{
    margin: 5px;
    height: auto;
    width: 25%;
}